@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?t9o6uq');
    src: url('../fonts/icomoon.eot?t9o6uq#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?t9o6uq') format('truetype'), url('../fonts/icomoon.woff?t9o6uq') format('woff'), url('../fonts/icomoon.svg?t9o6uq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


/* 版心 */

.w {
    width: 1200px;
    margin: 0 auto;
}


/* 头部导航栏 header 开始 */

.topSearch {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
}

.topHeader {
    position: relative;
}

.topHeader span {
    float: left;
}

.topHeader .line {
    float: left;
    margin: 0 8px;
}

.topHeader a {
    display: block;
    font-size: 12px;
    color: #b0b0b0;
}

.topHeader a:hover {
    color: #fff;
}


/* 下载app部分 */

.app {
    position: relative;
}

.app .qrCode {
    position: absolute;
    width: 124px;
    height: 0px;
    left: -40px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(105, 100, 100);
    transition: height 0.3s;
    z-index: 12;
}

.app::after {
    display: none;
    content: '';
    width: 0px;
    height: 0px;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.app:hover .qrCode,
.app:hover::after {
    display: block;
    height: 148px;
}

.app .qrCode img {
    margin: 17px 17px 0 17px;
    width: 90px;
}

.app .qrCode span {
    margin-left: 20px;
    font-size: 14px;
    color: #333;
}


/* 购物车 */

.shoping {
    float: right;
    position: relative;
    margin-left: 26px;
    z-index: 2;
}

.shoping .cart {
    position: relative;
    width: 120px;
    background-color: transparent;
    padding-bottom: 2px;
    z-index: 1;
}

.shoping a {
    text-align: center;
    background-color: #424242;
}

.shoping:hover a {
    background-color: #fff;
    color: #ff6700;
    ;
}

.shoping .icomoon {
    font-family: 'icomoon';
}

.shoping .list {
    position: absolute;
    top: 40px;
    left: -198px;
    width: 318px;
    height: 0px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: height 0.3s;
}

.shoping .list span {
    font-size: 14px;
    line-height: 100px;
    margin-left: 50px;
}

.shoping:hover .list {
    display: block;
    height: 100px;
}

.useInfo {
    float: right;
}


/*  头部导航栏 header 结束 */


/* <!-- logoHeader 开始 --> */

.header-wrapper {
    position: relative;
}

.logoHeader {
    height: 100px;
}

.logo {
    float: left;
    width: 55px;
    height: 55px;
    border-radius: 35%;
    margin-top: 22px;
    position: relative;
    overflow: hidden;
    /* 隐藏logo中的文字 */
    text-indent: -9999px;
}

.logo a {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    background-color: #FF6700;
    background-image: url(../images/mi-logo.png);
    background-position: center;
    transition: left 0.3s;
}


/* 设置home图标 */

.logo .home {
    background-image: url(../images/mi-home.png);
    left: -55px;
}


/* 鼠标移入 */

.logo:hover .mi {
    left: 55px;
}

.logo:hover .home {
    left: 0px;
}


/* logo旁边导航栏部分 */

.headerNav {
    float: left;
    margin-left: 7px;
}

.goodsNav {
    height: 100px;
    line-height: 100px;
    padding-left: 150px;
}

.goodsNav>li {
    float: left;
}

.goodsNav>li a {
    display: block;
    font-size: 16px;
    margin-right: 20px;
    color: #333;
}

.goodsNav>li a:hover {
    color: #FF6700;
}

.search {
    float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
}

.searchBtn>input {
    width: 244px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgb(224, 224, 224);
}

.searchBtn .btn {
    float: right;
    width: 52px;
    height: 50px;
    background-color: #fff;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
}

.search :focus,
.search :focus+button {
    border-color: #FF6700;
}

.searchBtn .btn:hover {
    background-color: #ff6700;
    color: #fff;
    border: none;
}

.searchBtn .btn i {
    font-family: 'icomoon';
    font-size: 18px;
}


/* 下拉的圖片 */

.loapPhone {
    position: absolute;
    top: 100px;
    left: 0px;
    height: 0px;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s;
    z-index: 9999;
}

.loapPhone img {
    width: 100%;
    height: 228px;
}

.nav-loap:hover~.loapPhone,
.loapPhone:hover {
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
}


/* <!-- logoHeader 结束 --> */


/*  banner部分開始 */

.banner {
    position: relative;
}

.bannerHouse {
    height: 460px;
}


/* banner左侧 */

.bannerLeft {
    width: 234px;
    height: 460px;
}

.banner-goods {
    position: absolute;
    padding: 20px 0;
    width: 234px;
    height: 460px;
    background: rgba(105, 101, 101, .6);
    z-index: 999;
}

.banner-goods a {
    display: block;
    height: 42px;
    line-height: 42px;
    color: white;
    font-size: 14px;
    padding: 0 30px;
}

.banner-goods a:hover {
    background-color: #ff6700;
}

.banner-goods li span {
    float: right;
    font-family: 'icomoon';
    font-size: 16px;
}


/*  banner輪播圖部分 */

.showmi .item {
    position: absolute;
    top: 0;
    left: 0;
}

.showmi .item img {
    width: 100%;
    height: 460px;
}

.active {
    z-index: 10;
}


/* 小圆点 */

.pointList {
    position: absolute;
    right: 0;
    bottom: 20px;
    list-style: none;
    z-index: 999;
    padding-right: 100px;
}

.point {
    float: left;
    margin-left: 10px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, .4);
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.point.active {
    background-color: rgba(255, 255, 255, 0.8);
}


/* 轮播图的按钮 */

.banner .btn .btnLeft {
    position: absolute;
    top: 200px;
    left: 234px;
    height: 80px;
    width: 40px;
    text-align: center;
    background: transparent;
    z-index: 999;
}

.banner .btn .btnRight {
    position: absolute;
    top: 200px;
    right: 0px;
    height: 80px;
    width: 40px;
    text-align: center;
    background: transparent;
    z-index: 999;
}

.banner .btn i {
    font-family: 'icomoon';
    font-size: 40px;
    line-height: 80px;
    color: #fff;
}


/*  banner部分結束 */


/*  adModule 部分開始  */

.module {
    height: 170px;
    margin-top: 15px;
}

.module-left {
    float: left;
    width: 234px;
    height: 170px;
    background-color: #5f5750;
}

.module-left li {
    position: relative;
}

.module-left li a {
    float: left;
    width: 76px;
    height: 82px;
    text-align: center;
    font-size: 12px;
    margin: 2px 2px 0 0;
    color: #cfccca;
}

.module-left li a:hover {
    color: #fff;
}


/* 设置字体图标 */

.module-left li a i {
    display: block;
    margin-top: 15px;
    font-family: 'icomoon';
    font-size: 22px;
    text-align: center;
}


/* 右邊圖片 */

.module-mi,
.module-mi li {
    float: left;
}

.module-mi img {
    display: block;
    width: 305px;
    height: 170px;
    margin-left: 17px;
}


/* adModule 部分結束 */


/* 商品手机部分 开始  */

.goods-phone {
    margin-top: 20px;
    background-color: #f5f5f5;
}

.long-pic img {
    width: 100%;
}


/* 手机导航栏 查看更多*/

.phone-nav {
    height: 58px;
    line-height: 58px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.phone-nav h2 {
    float: left;
    font-size: 22px;
    font-weight: 200;
}

.phone-more {
    float: right;
    font-size: 16px;
}

.phone-more a:hover {
    color: #ff6700;
}

.phone-more i {
    font-family: 'icomoon';
    font-size: 18px;
    vertical-align: middle;
}


/* 手机 左 */

.left-phone {
    float: left;
    width: 234px;
    height: 614px;
    background-color: #fff;
}

.left-phone img {
    width: 100%;
}


/* 手机 右 */

.right-phone {
    height: 614px;
}

.right-phone ul li {
    float: left;
    width: 225px;
    height: 300px;
    background-color: #fff;
    margin-left: 16px;
    margin-bottom: 14px;
}

.right-phone a img {
    width: 160px;
    height: 160px;
}

.right-phone a {
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin: 20px 0;
}

.right-phone a h3 {
    font-weight: 400;
    font-size: 16px;
    margin: 20px 10px 2px;
}

.right-phone .about {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 14px;
    color: #b0b0b0;
}

.right-phone .price {
    font-size: 14px;
    margin: 0 10px 14px;
    color: #ff6700;
}


/* 商品手机部分结束  */


/* 小米抢购部分 开始 */

.salesPromotion {
    background-color: #f5f5f5;
}

.sale-mi .mi-shoping h2 {
    height: 70px;
    line-height: 70px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    color: #333;
}


/* 左侧倒计时 */

.saleTime {
    float: left;
    width: 234px;
    height: 300px;
    text-align: center;
    background-color: #fff;
}

.saleTime h2 {
    font-size: 25px;
    color: #ff6700;
    font-weight: 400;
    padding: 40px 0 10px;
}

.saleTime i {
    font-family: 'icomoon';
    color: #ff6700;
    font-size: 55px;
}

.saleTime p {
    font-size: 16px;
    padding-top: 15px;
}

.saleTime .countime {
    text-align: center;
    font-size: 16px;
}

.saleTime .countime span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    margin: 20px 0px 0px 6px;
    color: #fff;
    font-weight: 600;
    background-color: rgba(105, 101, 101, .5);
}


/* 右侧促销商品  */

.sale-goods {
    height: 300px;
}

.sale-goods ul li {
    float: left;
    width: 225px;
    height: 300px;
    background-color: #fff;
    margin-left: 16px;
    margin-bottom: 14px;
}

.sale-goods a img {
    width: 160px;
    height: 160px;
}

.sale-goods a {
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin: 20px 0;
}

.sale-goods a h3 {
    font-weight: 400;
    font-size: 16px;
    margin: 20px 10px 2px;
}

.sale-goods .about {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 14px;
    color: #b0b0b0;
}

.sale-goods .now {
    font-size: 14px;
    margin: 0 10px 14px;
    color: #ff6700;
}

.sale-goods .ago {
    font-size: 14px;
    color: #b0b0b0;
    text-decoration: line-through;
}

.sale-mi .mi-pen img {
    width: 100%;
}


/* 小米抢购部分 结束 */


/* 侧边固定栏 开始- */

.sidebar {
    position: fixed;
    right: 0px;
    bottom: 100px;
    height: 200px;
    width: 30px;
}

.side li a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    background-color: #fff;
}

.side i {
    font-family: 'icomoon';
}


/* 返回顶部箭头 */

.side .roof {
    display: none;
    margin-top: 8px;
}


/* 侧边固定栏 结束 */